# Generated Jekyll and Sass output
_site/
.jekyll-cache/
.sass-cache/

# Local development files
local/
.DS_Store

# Generated dependency locks
Gemfile.lock

# Files created by npm
node_modules
package-lock.json
