---
layout: default
---

{% include base_path %}

<div class="article-grid">
  <article class="article">
    <header class="article__header">
      <h1>{{ page.title }}</h1>
      {% if page.date or page.venue or page.type or page.location %}
        <p class="page-meta">
        {% if page.date %}
          <span>{{ page.date | date: "%B %-d, %Y" }}</span>
        {% endif %}
        {% if page.venue %}
          <span>{{ page.venue }}</span>
        {% endif %}
        {% if page.type %}
          <span>{{ page.type }}</span>
        {% endif %}
        {% if page.location %}
          <span>{{ page.location }}</span>
        {% endif %}
        </p>
      {% endif %}
    </header>

    <div class="article__body">
      {{ content }}

      {% if page.paperurl or page.slidesurl or page.link or page.notebook %}
        <div class="article__resources">
          {% if page.paperurl %}<a href="{{ page.paperurl }}">Paper</a>{% endif %}
          {% if page.slidesurl %}<a href="{{ page.slidesurl }}">Slides</a>{% endif %}
          {% if page.link %}<a href="{{ page.link }}">External link</a>{% endif %}
          {% if page.notebook %}<a href="{{ page.notebook }}">Notebook</a>{% endif %}
        </div>
      {% endif %}
    </div>
  </article>
</div>
